body{
    margin:0;
    padding:0;
    scroll-snap-type: proximity;
    
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(193, 0, 211); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

$heading-color:#200542;
.main-container{

    width:100%;
    height:auto;
    overflow-x: hidden;

    .section{
        height:100vh;
    }
    .home-section{

        height:100vh;
       
        background-image: url('../assets/bg.jpg');
        background-repeat: no-repeat;
        background-size:cover;
       
        // display:flex;
        // justify-content: center;
        // align-items:center;
        
       .overlay{
            height:100%;
            width:100%;
            background-color: rgba(23, 0, 104, 0.596);
            display:flex;
            justify-content: center;
            align-items:center;
           
           .home-content{

            display:flex;
            justify-content: center;
            align-items:flex-start;
            width:50%;
            height:100%;
            flex-direction: column;
            // backdrop-filter:blur(20px);
            // background: rgba(194, 194, 194, 0.575);
            .logo{
                height:10%;
                position:absolute;
                top:20px;;
                left:50%;

            }

            h1{
                color:#ffffff;
                font-size:80px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                margin-left:50px;
                line-height: 10px;
                
            }
            p{
                color:white;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                width:80%;
                font-size:30px;
                margin-left:50px;
                
            }
            .home-btn{
    
                border:none;
                width:170px;
                height:40px;
                outline: none;
                font-size:17px;
                color:white;
                border-radius: 5px;;
                margin-left:50px;
                transition:all 100ms ease-in;
                
                background: #c62a88;
                &:hover{
                    
                    cursor: pointer;
                    transition:all 100ms ease-in;
                    box-shadow: 0px 0px 120px 5px rgba(105, 0, 226, 0.705);
                    transform:scale(1.1);
                }
                }
       
       
        }
       
        .home-contentTwo{

            width:45%;
            img{
                height:450px;
                
            }

        }
       }
        
    }
    .about-section{

        display:flex;
        justify-content:flex-start;
        align-items:center;
        flex-direction:column;
        width:100%;
        position:relative;
        height:auto;
        background: rgb(250, 250, 250);

        .memphiselements{

            position: absolute;
            height:10%;

            &:nth-child(1){
                position: absolute;
                top:20px;
                left:130px;
            }
            &:nth-child(2){
                position: absolute;
                top:320px;
                right:130px;
            }
            
        }


        h1{

            font-size: 60px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color:rgb(75, 0, 110);
            // text-decoration: underline 3px rgba(101, 0, 216, 0.316) ;
            
            
            

        }
        P{
            width:70%;
            font-size:16px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans;
            text-align: justify;
            font-weight: 500;
            margin:30px;

        }
        .about-services{

            height:50%;
            width:70%;
            // border:1px solid #000;
            display:flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            
            .about-card{

                height:300px;;
                width:250px;
                display:flex;
                justify-content:center;
                align-items:center;
                flex-direction: column;
            //    border:5px solid rgba(0, 153, 255, 0.534);
                border-radius:7px;;
                border-bottom:10px solid rgb(75, 0, 110);
                background:rgb(33, 0, 110);
                transition: all 100ms ease-in ;
                color:white;
               
              .icon{
                  height:85px;
                  width:85px;
                 
                  border-radius: 50%;;
              }
              h1{
                  font-size:25px;
                  text-decoration:none;
                  color:white;
                  

              }
              p{
                  font-size:16px;
                  text-align:center;
                  width:90%;

              }
              &:hover{

                transform:translateY(-10px);
                transition: all 100ms ease-in ;

              }


            }
        }

       
    }

    .domains{

        display:flex;
        justify-content:center;
        align-items:center;
        height:auto;;
        flex-direction: column;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        h1{
            
            font-size: 60px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color:rgb(75, 0, 110);
            
        }
        p{
            font-size: 20px;;
            width:50%;
            
            
        }
        .domain-cards{

            width:70%;
            height:auto;
           
            display:flex;
            justify-content:space-around;
            align-items:center;
            flex-wrap: wrap;
            margin-top:30px;
            .subdomains{

                height:200px;
                width:200px;
                background: rgb(245, 245, 245);
                padding:20px;
               color: rgb(41, 41, 41);
              
               border-radius: 5px;;
                margin:30px;
                display:flex;
                flex-direction: column;
                justify-content:center;
                align-items:center;

                img{
                    width:100px;

                }
                h2{
                    text-align:center;
                    color: rgb(84, 84, 84);
                }

            }

        }

    }

    footer{

        height:auto;;
        width:100vw;
        background: rgb(22, 22, 22);
        display:flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:rgb(181, 181, 181);
        position:relative;
        bottom:0;
        
        .footer-others{

            width: 90%;;
            display: flex;
            justify-content:space-around;
            align-items:center;
            flex-wrap: wrap;
            

            .footer-logo{
                height:100px;
                margin:30px;
            }

            .contactUs{

                font-size: 20px;;
                
               a{
                text-decoration: none;
                text-emphasis: none;;
                color:inherit;

                img{

                    filter: invert(100);
                    height:40px;
                    margin:20px;
                    opacity: 0.5;
                }
               }
            }
        }

    }
}