body{
    margin:0;
    padding:0;
    scroll-snap-type: proximity;
    font-family :'Poppins',san-serif;
    overflow-x: hidden;
    
}

.responsive-navbar{
    display:none;
}


$heading-color:#200542;
.main-container{

    width:100%;
    height:fit-content;
    
    overflow-x: hidden;

    .section{
        height:100vh;
    }
    .home-section{

        height:100vh;
       
        background-image: url('../assets/bg.jpg');
        background-repeat: no-repeat;
        background-size:cover;
       
       
        
       .overlay{
            height:100%;
            width:100vw;
            background-color: rgba(23, 0, 104, 0.466);
            display:flex;
            justify-content: center;
            align-items:center;
            
           .home-content{

            display:flex;
            justify-content: center;
            align-items:flex-start;
            width:50%;
            height:100%;
            flex-direction: column;
            // backdrop-filter:blur(20px);
            // background: rgba(194, 194, 194, 0.575);
            .logo{
                height:10%;
                position:absolute;
                top:20px;;
                left:50%;

            }

            h1{
                color:#ffffff;
                font-size:80px;
                font-family: 'Poppins', sans-serif;

                margin-left:50px;
                line-height: 10px;
                
            }
            p{
                color:white;
                font-family: 'Poppins', sans-serif;
                width:80%;
                font-size:30px;
                margin-left:50px;
                
            }
            .home-btn{
    
                border:none;
                width:170px;
                height:40px;
                outline: none;
                font-size:17px;
                color:white;
                border-radius: 5px;;
                margin-left:50px;
                transition:all 100ms ease-in;
                
                background: #c62a88;
                &:hover{
                    
                    cursor: pointer;
                    transition:all 100ms ease-in;
                    box-shadow: 0px 0px 120px 5px rgba(105, 0, 226, 0.705);
                    transform:scale(1.1);
                }
                }

        }
    
        .home-contentTwo{

            width:45%;
            img{
                height:450px;
                
            }

        }
    }
        
    }
    .about-section{

        display:flex;
        justify-content:flex-start;
        align-items:center;
        flex-direction:column;
        width:100%;
        position:relative;
        height:auto;
        background: rgb(250, 250, 250);

        .memphiselements{

            position: absolute;
            height:10%;

            &:nth-child(1){
                position: absolute;
                top:20px;
                left:130px;
            }
            &:nth-child(2){
                position: absolute;
                top:320px;
                right:130px;
            }
            
        }


        h1{

            font-size: 55px;
            font-family: 'Poppins', sans-serif;
            color:rgb(75, 0, 110);
            // text-decoration: underline 3px rgba(101, 0, 216, 0.316) ;
            
            
            

        }
        P{
            width:70%;
            font-size:16px;
            font-family: 'Poppins', sans-serif;
            text-align: justify;
            font-weight: 500;
            margin:30px;

        }
        .about-services{

            height:50%;
            width:70%;
            // border:1px solid #000;
            display:flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            
            .about-card{

                height:300px;;
                width:250px;
                display:flex;
                justify-content:space-around;
                align-items:center;
                flex-direction: column;
            //    border:5px solid rgba(0, 153, 255, 0.534);
                border-radius:7px;;
                border-bottom:10px solid rgb(75, 0, 110);
                background:rgb(33, 0, 110);
                transition: all 100ms ease-in ;
                color:white;
               
              .icon{
                  height:85px;
                  width:85px;
                 
                  border-radius: 50%;;
              }
              h1{
                  font-size:25px;
                  text-decoration:none;
                  color:white;
                  line-height: 1px;;
                  

              }
              p{
                  font-size:16px;
                  text-align:center;
                  width:90%;

              }
              &:hover{

                transform:translateY(-10px);
                transition: all 100ms ease-in ;

              }


            }
        }

       
    }

    .domains{

        display:flex;
        justify-content:center;
        align-items:center;
        height:auto;;
        flex-direction: column;
        text-align: justify;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        h1{
            
            font-size: 55px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color:rgb(75, 0, 110);
            font-weight: 400;
            
        }
        p{
            font-size: 20px;;
            width:50%;
            
            
        }
        .domain-cards{

            width:80%;
            height:auto;
            // background: rgb(69, 0, 109);
            border-radius: 5px;
            display:flex;
            justify-content:space-around;
            align-items:center;
            flex-wrap: wrap;
            margin-top:30px;
            .subdomains{

                height:200px;
                width:200px;
                background: rgb(245, 245, 245);
                padding:20px;
                color: rgb(41, 41, 41);
                
                border-radius: 5px;;
                margin:30px;
                display:flex;
                flex-direction: column;
                justify-content:center;
                align-items:center;

                img{
                    width:100px;

                }
                h2{
                    text-align:center;
                    color: rgb(84, 84, 84);
                }

            }

        }

    }

    .partners {

        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height:auto;
        h1{
            font-size: 55px;
            font-family: 'Poppins', sans-serif;
            color:rgb(75, 0, 110);
        }
        .partner-container{
            width:70%;
            height:auto;
           
            display:flex;
            justify-content:space-around;
            align-items:center;
            flex-wrap: wrap;
            margin-top:10px;
            .subdomains{

                height:200px;
                width:200px;
                background: rgb(245, 245, 245);
                padding:20px;
                color: rgb(41, 41, 41);
                border-radius: 5px;;
                margin:30px;
                display:flex;
                flex-direction: column;
                justify-content:center;
                align-items:center;

                img{
                    width:100px;

                }
                h2{
                    text-align:center;
                    color: rgb(84, 84, 84);
                }

            }
        }

    }
    .our-team{
        height:auto;
        width:100vw;
        display:flex;
        justify-content:center;align-items:center;
        flex-direction: column;

        h1{
            text-align:center;
            font-size:55px;
            color:#4b006e;

        }
        .executives{
            height:auto;
            width:100%;
            display:flex;
            justify-content:center;align-items:center;
            flex-direction: column;

            .chinmay{
                height:auto;
                width:50%;
                display:flex;
                justify-content:space-between;
                align-items:center;
                padding:10px;
                // background: rgb(223, 223, 223);
                // border-radius: 10px;;
                margin:10px;

                .avatar{
                    height:200px;
                    padding:10px;
                }
                .description{
                    margin:20px;
                    .title{
                        h1{
                            text-align: left;;
                            font-size:30px;
                            line-height:10px;
                            
                        }
                        h4{

                            text-align:left;
                            
                        }
                    }
                    p{

                        text-align: justify;

                    }
                }
            }
            .riddhi{
                height:auto;
                width:50%;
                padding:10px;
                display:flex;
                justify-content:space-between;
                align-items:center;
                // background: rgb(223, 223, 223);
                // border-radius: 10px;;
                


                .avatar{
                    height:200px;
                    padding:10px;
                }
                .description{
                    margin:20px;
                    .title{
                        h1{
                            text-align: left;;
                            font-size:30px;
                            line-height:10px;
                            
                            
                        }
                        h4{

                            text-align:left;

                            
                        }
                    }
                    p{
                        text-align: justify;
                    }
                }
            }
            .totheteamspage{

                    border:none;
                    padding:12px;
                    outline: none;
                    font-size:17px;
                    color:white;
                    border-radius: 5px;;
                    margin:30px;
                    transition:all 100ms ease-in;
                    
                    background: #c62a88;
                   &:hover{
                       
                       cursor: pointer;
                       transition:all 100ms ease-in;
                       box-shadow: 0px 0px 120px 5px rgba(105, 0, 226, 0.705);
                       transform:scale(1.1);
                   }
           }

        }
      
        
       
        

    }

    .team{
        background: rgb(255, 255, 255);
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        height:auto;
        padding:30px;
       
      
        .theTeam{

            height:100vh;
            display:flex;
            margin-top:30px;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            width:70%;
            margin:auto;
            

            .member{
                height:320px;;
                width:250px;
                text-align: center;
                display:flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                background: rgb(255, 255, 255);
                border-radius: 20px;;
                margin:15px;
                position: relative;
                .job{
                    height:60px;
                    position: absolute;
                    left:0;
                }
                .memavatar{
                    height:200px;
                    margin:10px;
                }
               .member-title{

                h2{
                    font-size:22px;;
                    line-height:10px;
                }
                h3{
                    font-size:19px;;
                    line-height:15px;
                }
                p{
                    font-size:15px;;
                    line-height:1px;
                }
               }
            }

        }


    }
    .events-container {

        min-height:100vh;
        width:100vw;
        background: rgb(231, 231, 231);
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .hero-event{
            height:40vh;
            width:100vw;
            
            display:flex;
            justify-content:center;
            align-items:center;
            flex-direction: column;
            overflow: hidden;
            position:relative;
            background-image: url('../assets/bg.jpg');
            color:white;
            .hero-image{
               
                width:80%;bottom:-220px;


            }
            .upcomingEvent{
                
                font-family: 'Poppins',sans-serif;
                
                font-size:40px;
            }.countdowntoevent{
                
                bottom:70px;
                font-family: 'Poppins',sans-serif;
                font-size:25px;
            }
            .upevent{
    
                border:none;
                
                padding:10px;
                outline: none;
                font-size:17px;
                color:white;
                border-radius: 5px;;
               margin-top:20px;
                transition:all 100ms ease-in;
                
                background: #c62a88;
                &:hover{
                    
                    cursor: pointer;
                    transition:all 100ms ease-in;
                    box-shadow: 0px 0px 120px 5px rgba(105, 0, 226, 0.705);
                    transform:scale(1.1);
                }
                }



        }
        .events{
            padding-bottom:30px;
            display:flex;
            justify-content:center;
            align-items: center;
            flex-wrap: wrap;
            width:80%;
            
            margin-top:10px;
            .event-card{
                height:auto;;
                width:255px;
                padding:10px;
                
                border-radius: 10px;
                margin:20px;
                display:flex;
                justify-content:space-between;
                flex-direction:column;
                align-items:center;
                background:rgb(243, 243, 243);
               
                box-shadow:-10px -10px 20px 0px rgb(255, 255, 255),10px 10px 20px 0px rgba(0, 0, 0,0.2);

                &:hover img{
                    position:relative;
                    top:-20px;
                    
                    box-shadow:0px 10px 20px 0px rgba(0, 0, 0, 0.438);
                    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
                    transition:all 500ms ease;

                }


                .event-image{
                    height:60%;
                    width:100%;
                    transition:all 500ms ease;
                    border:none;
                    border-radius: 10px;;
                }
                .event-details{
                    text-align: center;
                    h2{
                        font-family: 'Poppins', sans-serif;
                    }
                    p{
                        text-align: justify;
                        font-size:15px;
                        font-family: 'Poppins', sans-serif;
                    }
                    .moreaboutevent{
                        
                            border:none;
                            
                            padding:10px;
                            outline: none;
                            font-size:17px;
                            color:white;
                            border-radius: 5px;;
                            
                            transition:all 100ms ease-in;
                            
                            background: #c62a88;
                            &:hover{
                                
                                cursor: pointer;
                                transition:all 100ms ease-in;
                                // box-shadow: 0px 0px 10px 5px rgba(105, 0, 226, 0.705);
                                transform:scale(1.03);
                            }

                    }
                }
               
            }

        }

    }


   
}

footer{

    height:auto;;
    width:100vw;
    background: rgb(22, 22, 22);
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    text-align: center;
    align-items:center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(181, 181, 181);
   
 
    
    .footer-others{

        width: 90%;;
        display: flex;
        justify-content:space-around;
        align-items:center;
        flex-wrap: wrap;
        

        .footer-logo{
            height:100px;
            margin:30px;
        }

        .contactUs{

            font-size: 20px;;
            
           a{
            text-decoration: none;
            text-emphasis: none;;
            color:inherit;

            img{

                filter: invert(100);
                height:40px;
                margin:20px;
                opacity: 0.5;
            }
           }
        }
    }

}