html{
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
}
body{
    margin:0;
    padding:0;
    
    font-family :'Poppins',san-serif;
    overflow-x: hidden;
    background-color: rgb(23, 0, 104);
    

    
}

.responsive-navbar{
    display:none;
}


$heading-color:#200542;
.navbar{
    font-family: 'Poppins', sans-serif;
    height:80px;
    width:100%;
    position:sticky;
    z-index:999;
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(23, 0, 104);
    color:white;
    .nav-left{

        display:flex;
        justify-content:space-around;
        align-items: center;
        width:25%;

        .nav-link-left{
            color:white;
            text-decoration: none;;
            font-size:15px;
            font-weight: bold;
        }
    }
    .logo{
        height:70px;
        
        
    }
    .nav-right{

        display:flex;
        justify-content:space-around;
        align-items: center;
        width:25%;

        .nav-link-right{
            color:white;
            text-decoration: none;;
            font-size:15px;
            font-weight: bold;
        }
    }



}


.main-container{
    

    width:100%;
    height:fit-content;
    background-color: rgb(23, 0, 104);

    overflow-x: hidden;

    .section{
        height:100vh;
    }
    .home-section{

        height:100vh;
      
           
        // background-image: url('../assets/bg.jpg');
        background-repeat: no-repeat;
        background-size:cover;
       
       
        
       .overlay{
            height:100%;
            width:100vw; // 
            
          
            background-color: rgb(23, 0, 104);
            display:flex;
            justify-content: center;
            align-items:center;
            
           .home-content{

            display:flex;
            justify-content: center;
            align-items:flex-start;
            width:60%;
            position: relative;
            
            height:100%;
            flex-direction: column;
            // backdrop-filter:blur(20px);
            // background: rgba(194, 194, 194, 0.575);
            

            h1{
                color:#ffffff;
                font-size:80px;
                font-family: 'Poppins', sans-serif;

                margin-left:50px;
                line-height: 6px;

                .headtext{
                    margin:0px;

                }
                #space{
                    margin:20px;
                }
                
            }
            p{
                color:white;
                font-family: 'Poppins', sans-serif;
                width:80%;
                font-size:35px;
                margin-left:50px;
                
            }
            .home-btn{
    
                border:none;
                width:250px;
                height:70px;
                outline: none;
                font-size:24px;
                color:white;
                // border-radius: 5px;;
                margin-left:50px;
                transition:all 100ms ease-in;
                background: #170068;
                border:5px solid rgb(0, 124, 195);
                border-top:5px solid #3700ff;
                border-bottom:5px solid #3700ff;
                border-radius: 50px;
                // background: #c62a88;
                &:hover{
                    
                    cursor: pointer;
                    transition:all 100ms ease-in;
                    // box-shadow: 0px 0px 120px 5px rgba(105, 0, 226, 0.705);
                    transform:scale(1.1);
                    border-left:5px solid #3700ff;
                    border-right:5px solid #3700ff;
                    border-top:5px solid rgb(0, 124, 195);
                    border-bottom:5px solid rgb(0, 124, 195);
                    
                

                }
                }

        }
    
        .home-contentTwo{
            top:-100px;
                position:relative;
            width:45%;
            img{
                height:450px;
                top:-300px;
                position:relative;
                
            }

        }
    }
        
    }
    .about-section{

        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        width:100%;
        position:relative;
        height:100vh;
        background-color: rgb(23, 0, 104);

        .memphiselements{

            position: absolute;
            height:10%;

            &:nth-child(1){
                position: absolute;
                top:20px;
                left:130px;
            }
            &:nth-child(2){
                position: absolute;
                top:320px;
                right:130px;
            }
            
        }


        h1{

            font-size: 55px;
            font-family: 'Poppins', sans-serif;
            color:#ffffff;
            // text-decoration: underline 3px rgba(101, 0, 216, 0.316) ;
            
            
            

        }
        P{
            width:70%;
            font-size:25px;
            font-family: 'Poppins', sans-serif;
            text-align: justify;
            font-weight: 500;
            margin:30px;
            color:#ffffff;

        }
        .about-services{

            height:50%;
            width:70%;
            // border:1px solid #000;
            display:flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            
            .about-card{

                height:300px;;
                width:250px;
                display:flex;
                justify-content:space-around;
                align-items:center;
                flex-direction: column;
            //    border:5px solid rgba(0, 153, 255, 0.534);
                border-radius:7px;;
                border-bottom:10px solid rgb(75, 0, 110);
                background:rgb(33, 0, 110);
                transition: all 100ms ease-in ;
                color:white;
               
              .icon{
                  height:85px;
                  width:85px;
                 
                  border-radius: 50%;;
              }
              h1{
                  font-size:25px;
                  text-decoration:none;
                  color:white;
                  line-height: 1px;;
                  

              }
              p{
                  font-size:16px;
                  text-align:center;
                  width:90%;

              }
              &:hover{

                transform:translateY(-10px);
                transition: all 100ms ease-in ;

              }


            }
        }

       
    }

    .domains{

        display:flex;
        justify-content:center;
        align-items:center;
        height:100vh;;
        flex-direction: column;
        text-align: justify;
        background-color: rgb(23, 0, 104);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        h1{
            
            font-size: 55px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color:#ffffff;
            font-weight: 400;
            
        }
        p{
            font-size: 25px;;
            width:70%;
            color:#ffffff;
            
            
        }
        .domain-cards{
            color:#ffffff;

            width:80%;
            height:auto;
            // background: rgb(69, 0, 109);
            border-radius: 5px;
            display:flex;
            justify-content:space-around;
            align-items:center;
            flex-wrap: wrap;
            margin-top:30px;
            .subdomains{

                height:200px;
                width:200px;
                background: rgb(235, 235, 235);
                padding:20px;
                color: rgb(41, 41, 41);
                // box-shadow:-10px -10px 50px 0px rgb(255, 255, 255),10px 10px 20px 0px rgba(0, 0, 0,0.2);
                border-radius: 5px;;
                border:1px solid #fff;
                margin:30px;
                display:flex;
                flex-direction: column;
                justify-content:center;
                align-items:center;

                img{
                    width:100px;

                }
                h2{
                    text-align:center;
                    color: rgb(84, 84, 84);
                }

            }

        }

    }

    .partners {

        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        height:100vh;
        background-color: rgb(23, 0, 104);
        h1{
            font-size: 55px;
            font-family: 'Poppins', sans-serif;
            color:#ffffff;
        }
        .partner-container{
            width:80%;
            height:auto;
           
            display:flex;
            justify-content:space-around;
            align-items:center;
            flex-wrap: wrap;
            margin-top:10px;
            .subdomains{

                height:200px;
                width:200px;
                background: rgb(245, 245, 245);
                padding:20px;
                color: rgb(41, 41, 41);
                border-radius: 5px;;
                margin:30px;
                display:flex;
                flex-direction: column;
                justify-content:center;
                align-items:center;

                img{
                    width:100px;

                }
                h2{
                    text-align:center;
                    color: rgb(84, 84, 84);
                }

            }
        }

    }
    // .our-team{
    //     height:auto;
    //     width:100vw;
    //     display:flex;
    //     justify-content:center;align-items:center;
    //     flex-direction: column;
    //     background-color: rgb(23, 0, 104);

    //     h1{
    //         text-align:center;
    //         font-size:55px;
    //         color:#4b006e;

    //     }
    //     .executives{
    //         height:auto;
    //         width:100%;
    //         display:flex;
    //         justify-content:center;align-items:center;
    //         flex-direction: column;

    //         .chinmay{
    //             height:auto;
    //             width:50%;
    //             display:flex;
    //             justify-content:space-between;
    //             align-items:center;
    //             padding:10px;
    //             // background: rgb(223, 223, 223);
    //             // border-radius: 10px;;
    //             margin:10px;

    //             .avatar{
    //                 height:200px;
    //                 padding:10px;
    //             }
    //             .description{
    //                 margin:20px;
    //                 .title{
    //                     h1{
    //                         text-align: left;;
    //                         font-size:30px;
    //                         line-height:10px;
                            
    //                     }
    //                     h4{

    //                         text-align:left;
                            
    //                     }
    //                 }
    //                 p{

    //                     text-align: justify;

    //                 }
    //             }
    //         }
    //         .riddhi{
    //             height:auto;
    //             width:50%;
    //             padding:10px;
    //             display:flex;
    //             justify-content:space-between;
    //             align-items:center;
    //             // background: rgb(223, 223, 223);
    //             // border-radius: 10px;;
                


    //             .avatar{
    //                 height:200px;
    //                 padding:10px;
    //             }
    //             .description{
    //                 margin:20px;
    //                 .title{
    //                     h1{
    //                         text-align: left;;
    //                         font-size:30px;
    //                         line-height:10px;
                            
                            
    //                     }
    //                     h4{

    //                         text-align:left;

                            
    //                     }
    //                 }
    //                 p{
    //                     text-align: justify;
    //                 }
    //             }
    //         }
    //         .totheteamspage{

    //                 border:none;
    //                 padding:12px;
    //                 outline: none;
    //                 font-size:17px;
    //                 color:white;
    //                 border-radius: 5px;;
    //                 margin:30px;
    //                 transition:all 100ms ease-in;
                    
    //                 background: #c62a88;
    //                &:hover{
                       
    //                    cursor: pointer;
    //                    transition:all 100ms ease-in;
    //                    box-shadow: 0px 0px 120px 5px rgba(105, 0, 226, 0.705);
    //                    transform:scale(1.1);
    //                }
    //        }

    //     }
      
        
       
        

    // }

    .testimonials{
        height:100vh;
        width:100vw;
        background-color: #170068;
        display:flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        h1{
            color:white;
            font-size:55px;
        }
        .swiper-container {
            width:70vw;
            height: 40vh;
            color:white;
            
          
            .swiper-wrapper{
                width:100%;
                
               
                .swiper-slide{
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #0f0046;
                    border-radius: 10px;;
                    

                }
                
            }
          }

        #totheblog{

            padding:25px;
            background: #000;
            margin-top:30px;
            border-radius: 10px;;
            color:white;
            font-size:20px;
            text-decoration:none;


        }
        
    }
    .team{
        height:100vh ;
        width:100vw;
        display:flex;
        justify-content:center;
        flex-direction: column;
        align-items: center;
        .theTeam{
            height:auto;
            width:100vw;
            margin:auto;
            
            display:flex;
            justify-content:center;
            align-items:center;
            flex-wrap: wrap;
            position:relative;
            text-align: center;

            .member{
                height:300px;
                width:300px;
                // background: rgb(224, 224, 224);
                margin:20px;
                display:flex;
                justify-content:space-around;
                align-items: center;
                flex-direction: column;
                position:relative;
                .job{
                    position:absolute;
                    height:50px;
                    top:0;
                    left:0;

                }
                .memavatar{
                    height:50%;
                    padding:10px;

                }
                h2{
                    line-height:10px;
                }
                h3{
                    line-height:10px;
                }
            }
        }

    }

    
    .events-container {

        min-height:100vh;
        width:100vw;
        background: rgb(220, 220, 220);
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position:relative;
        top:0;
        margin-top:-30px;
        .hero-event{
            height:50vh;
            width:100vw;
            
            display:flex;
            justify-content:center;
            align-items:center;
            flex-direction: column;
            overflow: hidden;
            position:relative;
            background-image: url('../assets/bg.jpg');
            color:white;
            .hero-image{
               
                width:80%;bottom:-220px;


            }
            .upcomingEvent{
                
                font-family: 'Poppins',sans-serif;
                
                font-size:40px;
            }.countdowntoevent{
                
                bottom:70px;
                font-family: 'Poppins',sans-serif;
                font-size:25px;
            }
            .upevent{
    
                border:none;
                
                padding:10px;
                outline: none;
                font-size:17px;
                color:white;
                border-radius: 5px;;
               margin-top:20px;
                transition:all 100ms ease-in;
                
                background: #c62a88;
                &:hover{
                    
                    cursor: pointer;
                    transition:all 100ms ease-in;
                    box-shadow: 0px 0px 120px 5px rgba(105, 0, 226, 0.705);
                    transform:scale(1.1);
                }
                }



        }
        .events{
            padding-bottom:30px;
            display:flex;
            justify-content:center;
            align-items: center;
            flex-wrap: wrap;
            width:80%;
            .event-modal-1{

                height:50vh;
                width:60vw;
                display:none;
                position:fixed;
                border:1px solid #fff;
                overflow: auto; 
                top:10vh;
               
               
                justify-content:center;
                align-items: center;
                flex-direction: column;
                font-family: 'Poppins', sans-serif;
                color:white;
                background: rgba(42, 0, 109, 0.705);
                backdrop-filter: blur(10px);
                padding:20px;
                .close{

                    padding:15px;
                    float: right;;
                    position:absolute;
                    right:0;
                    top:0;
                    cursor: pointer;
                    background: rgb(231, 40, 221);

                }
                .modal-content{
                    width:80%;
                    font-family: 'Poppins', sans-serif;

                }
            }
            
            margin-top:10px;
            .event-card{
                height:auto;;
                width:255px;
                padding:10px;
                
                border-radius: 10px;
                margin:20px;
                display:flex;
                justify-content:space-between;
                flex-direction:column;
                align-items:center;
                background:rgb(243, 243, 243);

                box-shadow:-10px -10px 20px 0px rgb(255, 255, 255),10px 10px 20px 0px rgba(0, 0, 0,0.2);

                &:hover img{
                    position:relative;
                    top:-20px;
                    
                    box-shadow:0px 10px 20px 0px rgba(0, 0, 0, 0.438);
                    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
                    transition:all 500ms ease;

                }


                .event-image{
                    height:60%;
                    width:100%;
                    transition:all 500ms ease;
                    border:none;
                    border-radius: 10px;;
                }
                .event-details{
                    text-align: center;
                    h2{
                        font-family: 'Poppins', sans-serif;
                    }
                    p{
                        text-align: justify;
                        font-size:15px;
                        font-family: 'Poppins', sans-serif;
                    }
                    .moreaboutevent{
                        
                            border:none;
                            
                            padding:10px;
                            outline: none;
                            font-size:17px;
                            color:white;
                            border-radius: 5px;;
                            
                            transition:all 100ms ease-in;
                            
                            background: #c62a88;
                            &:hover{
                                
                                cursor: pointer;
                                transition:all 100ms ease-in;
                                // box-shadow: 0px 0px 10px 5px rgba(105, 0, 226, 0.705);
                                transform:scale(1.03);
                            }

                    }
                }
               
            }

        }

    }


   
}

footer{

    height:30vh;;
    width:100vw;
    background: rgb(22, 22, 22);
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    text-align: center;
    align-items:center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(181, 181, 181);
    // border-top-left-radius: 50%;;
    // border-top-right-radius: 50%;;
   
 
    
    .footer-others{

        width: 90%;;
        display: flex;
        justify-content:space-around;
        align-items:center;
        flex-wrap: wrap;
        

        .footer-logo{
            height:100px;
            margin:30px;
        }

        .contactUs{

            font-size: 20px;;
            
           a{
            text-decoration: none;
            text-emphasis: none;;
            color:inherit;

            img{

                filter: invert(100);
                height:40px;
                margin:20px;
                opacity: 0.5;
            }
           }
        }
    }

}