
@media screen and (max-width: 800px) {
    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }

    .responsive-navbar{

        height:60px;
        width:100vw;
        background: rgb(255, 255, 255);
        box-shadow:0px 0px 100px 10px rgba(0, 0, 0, 0.808);
        display:block;
        position:fixed;
        bottom:0;
        z-index: 99;
        .nav-container{
            width:100%;
            height:100%;
            display:flex;
            justify-content:space-around
            ;
            align-items: center;
            .link{

                height:50px;
                width:50px;
                &:hover{
                    transform:scale(1.5);
                    
                }
                a{
                .link-image{
                    height:40px;
                }
                }

            }

        }
        


    }.navbar{
        display:none;
    }

    .main-container{
        
        .home-section{
            width:100vw;
            height:100vh;


           .overlay{

            display:flex;
            justify-content:center;
            align-items:center;
          
            overflow-x:hidden;
            flex-wrap: wrap;
            flex-direction: column-reverse;

                
            


            .home-content{

                width:90%;
                height:90vh;;
                display: flex;
                justify-content:center;
                align-items:center;
                position:relative;
                left:-30px;


                h1{
                    font-size:30px;
                }
                p{
                    font-size:20px;
                    width:90%;
                    
                    text-align: center;
                }
                .home-btn{
    
                    border:none;
                    width:150px;
                    height:40px;
                    outline: none;
                    font-size:15px;
                    color:white;
                    
                    
                    transition:all 100ms ease-in;
                    // background: #170068;
                    border:2px solid #007cc3;
                    border-top:2px solid #3700ff;
                    border-bottom:2px solid #3700ff;
                    border-radius: 50px;
                    // background: #c62a88;
                    background-color: #0f0046;
                    &:hover{
                        
                        cursor: pointer;
                        transition:all 100ms ease-in;
                        transform:scale(1.02);
                        border-left:2px solid #3700ff;
                        border-right:2px solid #3700ff;
                        border-top:2px solid rgb(0, 124, 195);
                        border-bottom:2px solid rgb(0, 124, 195);
                        
                    
    
                    }
                }
                
            }
            svg{
                height:200px;
                position:relative;
                left:-50px;
            }

            

        }

        }
        .about-section{
            h1{
                font-size:30px;
            }
            .about-services{
                width:100%;
                .about-card{

                    height:150px;
                    width:150px;
                    margin:10px;


                    .icon{
                        width:50px;
                        height:auto;
                        position:relative;
                        top:25px;



                    }
                    h1{
                        font-size:15px;
                        line-height:10px;
                        position: relative;
                        top:30px;
                    }
                    p{
                        font-size:10px;
                    }
                }

            }
            p{
                width:90%;
                font-weight:700;
                font-size:15px;
            }
        }
        .domains{
            height:auto;
            h1{
                font-size:30px;
                font-weight: 400
                
                
                ;
            }
            p{
                width:90%;
                text-align: justify;
                font-size:15px;
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
            }
            .domain-cards{
               
                width:100%;
                height:auto;
                border-radius: 0px;;
                .subdomains{

                    height:80px;
                    width:70px;

                    img{
                        width:50px;
                        height:auto;

                    }
                    h2{
                        font-size:15px;
                    }

                }
                
            }
        }
        .testimonials{

            .swiper-container{
                width:90vw;
                .swiper-slide{
                    width:100vw;
                }


            }

        }


        .partners{
            height:auto;
            h1{
                font-size:30px;
            }
            .partner-container{
                width:100%;
                justify-content:space-around;
                .subdomains{

                    height:80px;
                    width:100px;

                    img{
                        width:100px;
                        height:auto;

                    }
                    h2{
                        font-size:15px;
                    }

                }


            }
        }
        .our-team{
            h1{
                font-size:30px;
            }

            .executives{

                display:flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .chinmay{
                    width:85%;
                    text-align: center;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    flex-wrap: wrap;
                    .avatar{
                        height:200px;
                    }
                    .description{
                        text-align: center;
                        .title{
                            h1{
                                text-align: center;
                                font-size:20px;
                                
                            }
                            h4{
    
                                text-align:center;
                                font-size:18px;
                                
                            }
                        }
                        p{
                            text-align: justify;
                        }
                    }

                }
                .riddhi{
                    width:85%;
                    text-align: center;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    flex-wrap: wrap;
                    .avatar{
                        height:200px;
                    }
                    .description{
                        text-align: center;
                        .title{
                            h1{
                                text-align: center;
                                
                            }
                            h4{
    
                                text-align:center;
                                
                            }
                        }
                        p{
                            text-align: justify;
                        }
                    }

                }


            }

        }
        .events-container{

            overflow-x: hidden;

        }
        .connect-section{
            height:100vh;;
            width:100vw;
            overflow-x:hidden;
            .form-container{
                width:100%;
                height:100%;
                display:flex;
                justify-content:center;
                align-items:center;
               
                img{
                    display:none;
                }
                form{
                    width:80%;
                    display:flex;
                    justify-content:space-between;
                    align-items:center;
                    flex-direction: column;
                    position: relative;
                    input[type="text"]{
                        height:30px;
                        font-size:12px;
                        width:300px;
                    }
                    label{
                        font-size:15px;
                    }
                    textarea{
                        width:300px;
                        position: relative;
                        right:5px;
                    }
                    .form-btn{
    
                        border:none;
                        width:150px;
                        height:30px;
                        outline: none;
                        font-size:15px;
                        color:white;
                        
                        
                        transition:all 100ms ease-in;
                        // background: #170068;
                        border:2px solid #007cc3;
                        border-top:2px solid #3700ff;
                        border-bottom:2px solid #3700ff;
                        border-radius: 50px;
                        // background: #c62a88;
                        background-color: #0f0046;
                        &:hover{
                            
                            cursor: pointer;
                            transition:all 100ms ease-in;
                            transform:scale(1.02);
                            border-left:2px solid #3700ff;
                            border-right:2px solid #3700ff;
                            border-top:2px solid rgb(0, 124, 195);
                            border-bottom:2px solid rgb(0, 124, 195);
                            
                        
        
                        }
                    }
                    

                }
            }
        }

    }
    footer{
        height:auto;
        width:100vw;
    }
}