
@media screen and (max-width: 800px) {
    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }

   
    nav{

        height:100vh;
        width:100%;
        overflow-x: hidden;

.nav-container{

   
    height:100vh;
    width:100%;

    #closenav{
        top:20px;
        right:20px;
    }
    
    img.logo{
        width:120px;
    }

    .links{
        height:400px;
        .links-l{
            a{
                font-size:30px;
                margin:10px;
                font-weight: 100;
            }
        }
    }
}


    }
    

    .main-container{
        
        .home-section{
            width:100vw;
            height:100vh;
            .hero-image{
                height:100vh;
                width:auto;
            }

           .overlay{

            display:flex;
            justify-content:center;
            align-items:center;
          
            overflow-x:hidden;
            flex-wrap: wrap;
            flex-direction: column-reverse;

                
            


            .home-content{

                width:90%;
                height:90vh;;
                display: flex;
                justify-content:center;
                align-items:center;
                position:relative;
                left:-30px;


                h1{
                    font-size:30px;
                }
                p{
                    font-size:20px;
                    width:90%;
                    
                    text-align: center;
                }
                .home-btn{
    
                    border:none;
                    width:150px;
                    height:40px;
                    outline: none;
                    font-size:15px;
                    color:white;
                    
                    
                    transition:all 100ms ease-in;
                    // background: #170068;
                    border:2px solid #007cc3;
                    border-top:2px solid #3700ff;
                    border-bottom:2px solid #3700ff;
                    border-radius: 50px;
                    // background: #c62a88;
                    background-color: #0f0046;
                    &:hover{
                        
                        cursor: pointer;
                        transition:all 100ms ease-in;
                        transform:scale(1.02);
                        border-left:2px solid #3700ff;
                        border-right:2px solid #3700ff;
                        border-top:2px solid rgb(0, 124, 195);
                        border-bottom:2px solid rgb(0, 124, 195);
                        
                    
    
                    }
                }
                
            }
            svg{
                height:200px;
                position:relative;
                left:-50px;
            }

            

        }

        }
        .about-section{
            h1{
                font-size:30px;
            }
            .about-services{
                width:100%;
                .about-card{

                    height:150px;
                    width:150px;
                    margin:10px;


                    .icon{
                        width:50px;
                        height:auto;
                        position:relative;
                        top:25px;



                    }
                    h1{
                        font-size:15px;
                        line-height:10px;
                        position: relative;
                        top:30px;
                    }
                    p{
                        font-size:10px;
                    }
                }

            }
            p{
                width:90%;
                font-weight:700;
                font-size:15px;
            }
        }
        .domains{
            height:auto;
            h1{
                font-size:30px;
                font-weight: 400;
                
                
                
            }
            p{
                width:90%;
                text-align: justify;
                font-size:15px;
                font-family: adobe-garamond-pro, serif;
            }
            .domain-cards{
               
                width:100%;
                height:auto;
                border-radius: 0px;;
                .subdomains{

                    height:80px;
                    width:70px;

                    img{
                        width:50px;
                        height:auto;
                        padding-top:10px;

                    }
                    h2{
                        font-size:12px;
                    }

                }
                
            }
        }
        .testimonials{

            h1{
                font-family: 'Poppins', sans-serif;
                font-weight: 200;;
                font-size:30px;
            }

            .swiper-container{
                width:90vw;
                .swiper-slide{
                    width:100vw;
                }


            }

        }


        .partners{
            height:auto;
            h1{
                font-size:30px;
            }
            .partner-container{
                width:100%;
                justify-content:space-around;
                .subdomains{

                    height:80px;
                    width:100px;

                    img{
                        width:100px;
                        height:auto;

                    }
                    h2{
                        font-size:15px;
                    }

                }


            }
        }
        .team{
            
            .exec-container{

                width:90%;
                height:auto;
                display:flex;
                justify-content:center;
                flex-direction: column;
                align-items:center;
                .exec{

                    height:auto;
                    width:95%;
                    margin:20px;

                    .exec-photo{
                        width:100%;
                        height:auto;
                        margin:10px;
                        img{
                            border-radius: 10px;
                        }
                    }
                    .exec-description{

                        width:100%;
                        height:auto;
                        margin:5px;
                        .position{
                            
                            h1{
                                
                                width:100%;
                                font-size:25px;
                                line-height:5px;
                                padding:10px;
                                
                            }
                            h2{
                                
                                font-size:15px;
                                line-height:20px;
                                margin-top:-10px;
                                
                            }
                            p{
                                position:relative;
                                top:-30px;
                            }
                        }

                    }
                }

            }

            .theTeam{
                width:90vw;
            }


        }
        .events-container{

            overflow-x: hidden;

        }
        .connect-section{
            height:100vh;;
            width:100vw;
            overflow-x:hidden;
            .form-container{
                width:100%;
                height:100%;
                display:flex;
                justify-content:center;
                align-items:center;
               
                img{
                    display:none;
                }
                form{
                    width:80%;
                    display:flex;
                    justify-content:space-between;
                    align-items:center;
                    flex-direction: column;
                    position: relative;
                    input[type="text"]{
                        height:30px;
                        font-size:12px;
                        width:300px;
                    }
                    label{
                        font-size:15px;
                    }
                    textarea{
                        width:300px;
                        position: relative;
                        right:5px;
                    }
                    .form-btn{
    
                        border:none;
                        width:150px;
                        height:30px;
                        outline: none;
                        font-size:15px;
                        color:white;
                        
                        
                        transition:all 100ms ease-in;
                        // background: #170068;
                        border:2px solid #007cc3;
                        border-top:2px solid #3700ff;
                        border-bottom:2px solid #3700ff;
                        border-radius: 50px;
                        // background: #c62a88;
                        background-color: #0f0046;
                        &:hover{
                            
                            cursor: pointer;
                            transition:all 100ms ease-in;
                            transform:scale(1.02);
                            border-left:2px solid #3700ff;
                            border-right:2px solid #3700ff;
                            border-top:2px solid rgb(0, 124, 195);
                            border-bottom:2px solid rgb(0, 124, 195);
                            
                        
        
                        }
                    }
                    

                }
            }
        }

    }
    footer{
        height:auto;
        width:100vw;
    }
}