@media screen and (max-width: 800px) {
  html {
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }
  nav {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
  }
  nav .nav-container {
    height: 100vh;
    width: 100%;
  }
  nav .nav-container #closenav {
    top: 20px;
    right: 20px;
  }
  nav .nav-container img.logo {
    width: 120px;
  }
  nav .nav-container .links {
    height: 400px;
  }
  nav .nav-container .links .links-l a {
    font-size: 30px;
    margin: 10px;
    font-weight: 100;
  }
  .main-container .home-section {
    width: 100vw;
    height: 100vh;
  }
  .main-container .home-section .hero-image {
    height: 100vh;
    width: auto;
  }
  .main-container .home-section .overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-x: hidden;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main-container .home-section .overlay .home-content {
    width: 90%;
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    left: -30px;
  }
  .main-container .home-section .overlay .home-content h1 {
    font-size: 30px;
  }
  .main-container .home-section .overlay .home-content p {
    font-size: 20px;
    width: 90%;
    text-align: center;
  }
  .main-container .home-section .overlay .home-content .home-btn {
    border: none;
    width: 150px;
    height: 40px;
    outline: none;
    font-size: 15px;
    color: white;
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    border: 2px solid #007cc3;
    border-top: 2px solid #3700ff;
    border-bottom: 2px solid #3700ff;
    border-radius: 50px;
    background-color: #0f0046;
  }
  .main-container .home-section .overlay .home-content .home-btn:hover {
    cursor: pointer;
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    border-left: 2px solid #3700ff;
    border-right: 2px solid #3700ff;
    border-top: 2px solid #007cc3;
    border-bottom: 2px solid #007cc3;
  }
  .main-container .home-section .overlay svg {
    height: 200px;
    position: relative;
    left: -50px;
  }
  .main-container .about-section h1 {
    font-size: 30px;
  }
  .main-container .about-section .about-services {
    width: 100%;
  }
  .main-container .about-section .about-services .about-card {
    height: 150px;
    width: 150px;
    margin: 10px;
  }
  .main-container .about-section .about-services .about-card .icon {
    width: 50px;
    height: auto;
    position: relative;
    top: 25px;
  }
  .main-container .about-section .about-services .about-card h1 {
    font-size: 15px;
    line-height: 10px;
    position: relative;
    top: 30px;
  }
  .main-container .about-section .about-services .about-card p {
    font-size: 10px;
  }
  .main-container .about-section p {
    width: 90%;
    font-weight: 700;
    font-size: 15px;
  }
  .main-container .domains {
    height: auto;
  }
  .main-container .domains h1 {
    font-size: 30px;
    font-weight: 400;
  }
  .main-container .domains p {
    width: 90%;
    text-align: justify;
    font-size: 15px;
    font-family: adobe-garamond-pro, serif;
  }
  .main-container .domains .domain-cards {
    width: 100%;
    height: auto;
    border-radius: 0px;
  }
  .main-container .domains .domain-cards .subdomains {
    height: 80px;
    width: 70px;
  }
  .main-container .domains .domain-cards .subdomains img {
    width: 50px;
    height: auto;
    padding-top: 10px;
  }
  .main-container .domains .domain-cards .subdomains h2 {
    font-size: 12px;
  }
  .main-container .testimonials h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 30px;
  }
  .main-container .testimonials .swiper-container {
    width: 90vw;
  }
  .main-container .testimonials .swiper-container .swiper-slide {
    width: 100vw;
  }
  .main-container .partners {
    height: auto;
  }
  .main-container .partners h1 {
    font-size: 30px;
  }
  .main-container .partners .partner-container {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main-container .partners .partner-container .subdomains {
    height: 80px;
    width: 100px;
  }
  .main-container .partners .partner-container .subdomains img {
    width: 100px;
    height: auto;
  }
  .main-container .partners .partner-container .subdomains h2 {
    font-size: 15px;
  }
  .main-container .team .exec-container {
    width: 90%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-container .team .exec-container .exec {
    height: auto;
    width: 95%;
    margin: 20px;
  }
  .main-container .team .exec-container .exec .exec-photo {
    width: 100%;
    height: auto;
    margin: 10px;
  }
  .main-container .team .exec-container .exec .exec-photo img {
    border-radius: 10px;
  }
  .main-container .team .exec-container .exec .exec-description {
    width: 100%;
    height: auto;
    margin: 5px;
  }
  .main-container .team .exec-container .exec .exec-description .position h1 {
    width: 100%;
    font-size: 25px;
    line-height: 5px;
    padding: 10px;
  }
  .main-container .team .exec-container .exec .exec-description .position h2 {
    font-size: 15px;
    line-height: 20px;
    margin-top: -10px;
  }
  .main-container .team .exec-container .exec .exec-description .position p {
    position: relative;
    top: -30px;
  }
  .main-container .team .theTeam {
    width: 90vw;
  }
  .main-container .events-container {
    overflow-x: hidden;
  }
  .main-container .connect-section {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
  .main-container .connect-section .form-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-container .connect-section .form-container img {
    display: none;
  }
  .main-container .connect-section .form-container form {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .main-container .connect-section .form-container form input[type="text"] {
    height: 30px;
    font-size: 12px;
    width: 300px;
  }
  .main-container .connect-section .form-container form label {
    font-size: 15px;
  }
  .main-container .connect-section .form-container form textarea {
    width: 300px;
    position: relative;
    right: 5px;
  }
  .main-container .connect-section .form-container form .form-btn {
    border: none;
    width: 150px;
    height: 30px;
    outline: none;
    font-size: 15px;
    color: white;
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    border: 2px solid #007cc3;
    border-top: 2px solid #3700ff;
    border-bottom: 2px solid #3700ff;
    border-radius: 50px;
    background-color: #0f0046;
  }
  .main-container .connect-section .form-container form .form-btn:hover {
    cursor: pointer;
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    border-left: 2px solid #3700ff;
    border-right: 2px solid #3700ff;
    border-top: 2px solid #007cc3;
    border-bottom: 2px solid #007cc3;
  }
  footer {
    height: auto;
    width: 100vw;
  }
}
/*# sourceMappingURL=responsive.css.map */